.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aboutTop img{
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 30%;
  border-radius: 50px;
}
.aboutBottom {
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  height: 10%;
  align-items: center;
}

.heading{
  text-align: center;
  color: #c98d83;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 3rem;
}
.heading span{
  color:#783b31;
  text-transform: uppercase;
}

.aboutBottom .content{
  flex: 1 1 40rem;
}

.aboutBottom .content h3{
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
}

.aboutBottom .content h3 span{
  color: #783b31;
}

.aboutBottom .content p{
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1;
}
 /*-------------BETWEEN-------*/
 .between {
  background-color: antiquewhite;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
 }
 .leftBetween {
  position: relative;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.leftBetween img {
  border-radius: 30px;
  margin-top: 5%;
  width: 100%;
  height: 90%;
  object-fit: cover; 
}
.rightBetween .tieude {
  font-size: 1.75rem;
}
.rightBetween .textab {
  font-size: 1.15rem;
}

/* .tail {
  padding-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.rightTail img {
  width: 50%;
  height: 100%;
  object-fit: cover;
} */
/* ------------OUR TEAM--------------- */
.team{
  width: 100%;
  height: 100%;
}
.team .box-container{
  padding-bottom: 2%;
  padding-left: 9%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 4fr));
  gap: 2rem;
}

.team .box-container .box{
  width: 75%;
  height: 100%;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team .box-container .box .imagestaff{
  /* height: 60%; */
  padding: 1.1rem;
  overflow: hidden;
  position: relative;
}

.team .box-container .box .imagestaff img{
  height: 100%;
  width: 100%;
  border-radius: .25rem;
  object-fit: cover;
}

.team .box-container .box:hover .imagestaff img{
  transform: scale(1.1);
}

.team .box-container .box .content{
  text-transform: capitalize;
  animation: fadeIn 0.4s cubic-bezier(.54, 1.3,.63,1.34) .2s backwards;
  height: 30%;
  padding-top: 0;
}

.team .box-container .box .content .staffname{
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team .box-container .box .content .position{
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.team .box-container .box .content .share i{
  height: 5%;
  width: 20%;
  line-height: 3rem;
  background: none;
  border-radius: .5rem;
  font-size: 2rem;
  color: #c98d83;
  border: .1rem solid #c98d83;
  margin: .5rem;
}

.team .box-container .box .content .share i:hover{
  color: #fff;
  border: .1rem solid #783b31;
  background: #783b31;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);;
  transition: .4s linear;
  cursor: pointer;
}