.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aboutTop img{
  width: 100%;
  height: 30%;
}
.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.heading{
  text-align: center;
  color: #c98d83;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 3rem;
}
.heading span{
  color:#783b31;
  text-transform: uppercase;
}

.aboutBottom .content{
  flex: 1 1 40rem;
}

.aboutBottom .content h3{
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
}

.aboutBottom .content h3 span{
  color: #783b31;
}

.aboutBottom .content p{
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1;
}
