.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aboutTop img{
  width: 100%;
  height: 30%;
}
.aboutBottom {
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  height: 10%;
  align-items: center;
  margin-top: 50px;
}

.heading{
  text-align: center;
  color: #c98d83;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 3rem;
}
.heading span{
  color:#783b31;
  text-transform: uppercase;
}

.aboutBottom .content{
  flex: 1 1 40rem;
}

.aboutBottom .content h3{
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
}

.aboutBottom .content h3 span{
  color: #783b31;
}

.aboutBottom .content p{
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1;
}
 /*-------------BETWEEN-------*/
 .between {
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
 }
 .leftBetween {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.leftBetween img {
  width: 50%;
  height: auto;
  /* object-fit: cover;  */
}

/* .tail {
  padding-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.rightTail img {
  width: 50%;
  height: 100%;
  object-fit: cover;
} */
/* ------------OUR TEAM--------------- */
.team{
  width: 100%;
  height: 100%;
}
.team .box-container{
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
  gap: 2rem;
}

.team .box-container .box{
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team .box-container .box .image{
  padding: 1.1rem;
  overflow: hidden;
  position: relative;
}

.team .box-container .box .image img{
  border-radius: .5rem;
  object-fit: cover;
}

.team .box-container .box:hover .image img{
  transform: scale(1.1);
}

.team .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.team .box-container .box .content h3{
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.team .box-container .box .content p{
  color: #000;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.team .box-container .box .content .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  background: none;
  border-radius: .5rem;
  font-size: 2rem;
  color: #c98d83;
  border: .1rem solid #c98d83;
  margin: .5rem;
}

.team .box-container .box .content .share i:hover{
  color: #fff;
  border: .1rem solid #783b31;
  background: #783b31;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);;
  transition: .4s linear;
  cursor: pointer;
}