.Add_Cake{
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bellota";
    background-color: #FDF6F0;
    color: #4B1D1D;
    margin-top: 5%;


    
}
.SideMenu_Admin{
    flex: 27%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
}
.Add_Cake_div{
    flex: 73%;
    width: 70%;
}
.UploadImg_header{
    width: 80%;
    margin-left: 10%;
}
.UploadImg_header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.input_info{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.input_Name_div{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.input_Name_div p{
    flex:30%;
}
.input_Name_div input{
    flex: 70%;
}



.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message-close {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.upload_imgs_div{
    display: grid;
    width: 90%;
    height: 300px;
    margin-left: 5%;
    grid-template-columns: repeat(2,1fr);
}
.upload_imgs{
    flex: 10% !important;
 
    margin: 5px;
    border-color: #721c24!important;
    border-width: 2px!important;
    border-style: solid;
    background-color: white;
}
.upload_img{
    width: 100%;
    height: 85%;
    margin-top: 7%;
}

.SideMenuAdmin .SideMenuList .title{
    display: flex;
}
.SideMenuAdmin .SideMenuList .accountCircleIcon{
    transform: scale(1.7);
    flex: 30%;
    justify-content: right;

  }

  .SideMenuAdmin .SideMenuList .titleh3{
    flex: 70%;
}