.contact {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 17%;
  }
  
  .contact .leftSide {
    height: 100%;
    flex: 27%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact .rightSide {
    height: 100%;
    flex: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5% 4% 0 2%;
    background-color: white;
    border-radius: 10px;
    color: #8F3C02;
    padding: 2% 0;
  }
  
  .contact .rightSide h1 {
    
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
  }


  .addr h2{
    margin-left: 2%;
  }
  .cover-address{
    background-color: #FCD8D4;
    padding: 0 3%;
    border-radius: 10px;
    margin: 2% 2%;
    display: flex;
  }
  .cover-address .address-info{
    
    flex: 85%;
    padding: 2px 7px;
  }


  .edit{
    flex: 15%;
    justify-content: right;
    display: flex;
  }

  .edit .fas{
    padding: 20px 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: .3s ease-in-out;

  }

  .edit .fas:hover{
    -webkit-transform: scale(1.3);
      transform: scale(1.3);
      cursor: pointer;

  }
  .contact #name{
    font-weight:bold;
  }
  .SideMenu{
    height: auto;
    width: 250px;
    background-color: #F5C6AA;
    margin-left: 4%;
    margin-top: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 2;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
  }
  
  .SideMenuList{
    height: auto;
    padding: 0;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
  }


  .SideMenuList .title{
    display: flex;
    align-items: center;
  }

  .SideMenuList .title p{
    color: #9b643e;
  }

  .SideMenuList .link_edit_profile{
    text-decoration: none;
  }
  .SideMenuList .title p:hover{
    color: #793302;
    transition: color .1s cubic-bezier(.4,0,.2,1);
  }
  .accountCircleIcon{
    transform: scale(1.7);
    padding: 20px;
  }

  .SideMenuList .row{
    width: 100%;
    height: 60px;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #8F3C02;
    justify-content: left;
    align-items: center;

  }

  .SideMenuList .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }

  .SideMenuList .row #title{
    flex: 70%;
  }

  .SideMenuList .row:hover{
    cursor: pointer;
    background-color: #D77B44;
  }

  .SideMenuList #active{
    background-color: #D77B44;
  } 

  .btn_add_address button{
    background-color: #CD8042;
    color:#fff;
    margin-left: 70%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 24%;
    border: none;
    font-family: Bellota ;
    font-weight: bold;
    text-decoration: none;

  }

  .btn_add_address button:hover{
    background-color: #8F3C02;
  }

  .MuiFormHelperText-root{
    color:red !important;
  }

  .sidemenu_icon #open_sidemenu{
    display: none;
  }



  @media screen and (max-width:1089px) {
    .sidemenu_icon #open_sidemenu{
      display: block;
    }
    .SideMenu_default{
      display: none;
    }

    .contact .rightSide {
      flex: 90%;
    }

    .contact .leftSide {
      flex: 10%;
    }

    .sidemenu_icon .fa-times{
      margin: 30px 4% 0 260px;
    }
  }
  
  @media screen and (max-width:850px) {
    .sidemenu_icon #open_sidemenu{
      display: block;
    }
    .SideMenu_default{
      display: none;
    }

    .contact .rightSide {
      flex: 90%;
    }

    .contact .leftSide {
      flex: 10%;
    }

    .sidemenu_icon .fa-times{
      margin: 30px 4% 0 250px;
    }
  }

  @media screen and (max-width:712px) {
    .sidemenu_icon .fa-times{
      margin: 30px 4% 0 240px;
    }
  }

  #open_sidemenu{
    /* margin: 2% 4% 0 4%; */
    /* background-color: #D77B44; */
    
    position: fixed;
    z-index: 3;
  }

  .sidemenu_icon .fa-times{
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    /* margin: 4% 4% 0 240px; */
  }

  .sidemenu_icon .fa-ellipsis-v{
    font-size: 20px;
    width: fit-content;
    margin: 2% 0 0 4%;
    background-color: #CD8042;
    padding: 2%;
    border-radius: 10px;
  }

  .location_div{
    justify-content: center;
  }

  .EditAddress .field{
    display: inline;
    padding-top: 3%;
    flex: 60%;
  }
  

  .EditAddress .general_div{
    display: flex;
    padding-bottom: 2%;
  }

  .EditAddress form{
    align-items:flex-start;
    padding: 0;
  }

  .EditAddress .general_div .MuiOutlinedInput-input {
    padding: 5px 5px;
}
.location_div .TextFieldWard .MuiOutlinedInput-input {
  padding: 5px 5px;
  height: 50px;
}

.location_div .TextFieldWard .MuiInputBase-input {
  width: 200%;
}
.location_div .general_div{
  display: flex;
  padding-bottom: 2%;
}

.location_div .TextFieldWard{
  margin-top: 2%;
}

.EditAddress {
  width: 400px;
}

.location_div .MuiOutlinedInput-multiline {
  padding: 0;
}