  .HomeBestSeller {
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .CardCake {
    border-radius: 15px;
    width: 250px;
    height: 350px;
    margin: 20px;
    background-color: #FCD8D4;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .CardCake:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  /* .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  
  .CardCake h1,
  .CardCake p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1260px) {
    .HomeBestSeller {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .HomeBestSeller {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .HomeBestSeller {
      grid-template-columns: 1fr;
    }
  }
  
  /* ========================================= */
  .CakePrice{
    display:flex;
    margin-left: 15px;
    height: 40px;
    width: 240px;
    padding-bottom: 1px;
  }
  
  .CakePrice h3{
    margin-left: 78px;
  }
  .CakeName{
    display:flex;
    margin-left: 15px;
    width: 220px;
  }
  .CakeName h2{
    width: 160px;
  }
  .bntCakeAdd{
    width: 60px;
    height: 30px;
    border-radius: 10px;

    
    color: #8F3C02;
    font-weight: bold;
    size: 30px;
    border: 3px solid #8F3C02;
    background-color: #FDF6F0;
    margin-top: 20px;
    
  }
  
  
  .CardCake_img{
    width: 220px;
    height: 230px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
  }
  
  
  

/* ===================== Home Category cake card=================== */


.menuPriceItem{
  display:flex;
  margin-left: 20px;
  height: 40px;
  padding-bottom: 1px;
}

.menuPriceItem h3{
  margin-left: 140px;
}


.menuItem_img{
  width: 280px;
  height: 280px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.menuCategory {
  border-radius: 15px;
  width: 250px;
  height: 270px;
  margin: 20px;
  background-color: #FCD8D4;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.Category_img_div{
  width: 220px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
}
.Category_img{
  width: 100%;
  height: 100%;
}
.ListCategory {
  width: 90%;
  margin-left: 7%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.menuCategory h2 {
  text-align: center;
}

@media only screen and (max-width: 1260px) {
  .HomeCategory {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .HomeCategory {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .HomeCategory {
    grid-template-columns: 1fr;
  }
}





