.CardCart_input_div{
    flex: 5% 1;
    margin-top: 50px;
    margin-left: 30px;
}
.CardCart_input{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .CardCart_input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FDF6F0;
    border-radius: 4px;

  }
  
  /* On mouse-over, add a grey background color */
  .CardCart_input:hover input ~ .checkmark {
    background-color: #FDF6F0;
  }
  
  /* When the checkbox is checked, add a blue background */
  .CardCart_input input:checked ~ .checkmark {
    background-color: #4B1D1D;
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .CardCart_input input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .CardCart_input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }