.detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bellota";
    background-color: #FDF6F0;
}

.detail_item_card{
    background-color: #F8E2CF;
    height: 380px;
    width:90%;
    margin-left: 5%;
    margin-top: 14vh;
    margin-bottom: 3vh;
    display: flex;
    border-radius: 10px;
  
}
.detail_img_center{
    width: 305px;
    height: 305px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.detail_img_1{
    width: 145px;
    height: 145px;

    margin-left: 30px;
    border-radius: 5px;
}
.detail_img_2{
    width: 145px;
    height: 145px;
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 30px;
}
.detail_group_img{
    display: flex;
   
}
.detail_secondary_img{
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 300px;
}
.detail_info{
    margin-left: 40px;
    width: 55%;
}

.detail_info h1{
    font-size: 50px;
}

.detail_info h2{
   /* margin-top: -20px; */
   font-size: 30px;
  
}
.detail_info p{
    font-size: 20px;
    /* margin-top: -10px; */
 }

 .my-div {
    width: 90%;
    height: 80px;
    display: flex;
    margin-top: 3%;
  
  }
  
  .line1_LienQuan {
   
    margin-top: 3%;
    margin-left: 21%;
    width: 25%;
    height: 5px;
    background-color: #FCD8D4;
  }
  .line2_LienQuan {
  
    margin-top: 3%;
    width: 25%;
    height: 5px;
    background-color: #FCD8D4;
  }
  .detail_BanhLienQuan{
    width: 30%;
    text-align: center;
    font-family: Bellota;
  }

  .button_size{
    height: 40%;
  }
  .detail_button_size button{
    margin-right: 3%;
    background-color: #CD8042;
    color: white;
    width: 19%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #CD8042;
 
  }
  .detail_number_button{
    display: contents;
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    height: 30px;
  }
  .detail_number_button h2{
    margin-bottom: 20px;
    margin-left: 20px;

  }
  .detail_number_button button{
    color: #CD8042;
    margin-left: 20px;
    background-color: white;
    width: 15%;
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #CD8042;
  }
  .detail_number{
    display: flex;
    margin-top: 20px;
  }
  .detail_name_review{
    display: flex;
    height: 20%;
  }
  .detail_name_review p{
    margin-left: 60%;
    margin-top: 40px;
  }
  


 /* =================Feed Back==================== */
 .my-div_feedback{
 
  width: 90%;
  height: 80px;
  display: flex;
 }
 .detai_item_FeedBack{
  margin-left: 5%;
 }
 .detail_Feedback{
  background-color: #FCD8D4;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

 /* =================Card feedback=================== */
 .CardFeedBack{
  width: 95%;
  background-color: #FDF6F0;
  border-radius: 10px;
  margin-bottom: 2%;
 }
 .FeedBack_User{
  display: flex;
 }
 .FeedBack_img {
  width: 30px;
  height: 30px;
  margin-left: 3%;
  margin-top: 1.5%;
}
.FeedBack_User h2{
  margin-left: 1%;
}
.FeedBack_Comment{
  margin-left: 7%;
  width: 85%;
  height: 100%;
}



 /* =================Chi tiết và mô tả sản phẩm ===============*/
 .line1_Chitiet {
   
  margin-top: 3%;
  margin-left: 21%;
  width: 25%;
  height: 5px;
  background-color: white;
}
.line2_Chitiet {

  margin-top: 3%;
  width: 25%;
  height: 5px;
  background-color: white;
}

.detail_ChiTiet_div{
  display: flex;
}

.detail_ChiTiet_MoTa{
  background-color: #F8E2CF;
  width:90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
 }
 .detail_ChiTiet{
  margin-left: 5%;
  margin-top: 20px;
  width: 50%;
 }

 .detail_MoTa{
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
  
 }
 .detail_ChiTiet_div_img{
  width: 40%;
  height: 40%;
 }
 .detail_ChiTiet_img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
 }
 .detail_MoTa_div{
  display: flex;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-top: 2%;
 }
 
 .detail_MoTa_div_img{
  width: 40%;
  height: 40%;
  
 
 }
 .detail_MoTa_img{
  width: 100%;
  height: 100%;
 
 }
 .detail_Mota_div_img{
  width: 50%;
  height: 50%;
 }
 .detail_MoTa_img{
  width: 85%;
  height: 85%;
  border-radius: 10px;
 }
 
