.footer{
  background: var(--bg);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #783b31;
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1rem;
  line-height: 2;
  color: #444;
  padding: .5rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.5rem;
  background: #c98d83;
  color: #fff;
  margin-right: .3rem;
}

.footer .box-container .box .share i:hover{
  background: #783b31;
}

.footer .box-container .box .link{
  font-size: 1rem;
  line-height: 2;
  color: #c98d83;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover{
  color: #783b31;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #c98d83;
  border-top: .1rem solid #783b31;
  padding-bottom: 1rem;
}

.footer .credit span{
  color: #783b31;
}