/* ============================== */
.Home_Slide{
    width: 100%;
    height: 100%;

}
.Home_Slide_img{
width: 100%;
height: 100%;
}
.slick-prev{
    width: 30px !important;
    height: 30px !important;
    left: 0 !important;
    /* position: relative !important; */
    top: 50%;
    z-index: 1;
    margin-left: 20px;

}
.slick-next{
   
    right: 0 !important;
    z-index: 1;
    margin-right: 20px !important;
   
}

.img-customize{
    width: 100%;
    height: 770px;
    object-fit: cover;
    object-position: center;
}
.img_slide{
    width: 100%;
    object-fit: cover;
    object-position: center;   
}

@media only screen and (max-width: 1200px) {
    .img-customize{
        width: 100%;
        height: 650px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 650px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }

}

@media only screen and (max-width: 1000px) {
    .img-customize{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 600px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }
}
@media only screen and (max-width: 1000px) {
    .img-customize{
        width: 100%;
        height: 560px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 560px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }
}
@media only screen and (max-width: 800px) {
    .img-customize{
        width: 100%;
        height: 520px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 520px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }
}
@media only screen and (max-width: 600px) {
    .img-customize{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }
}
@media only screen and (max-width: 400px) {
    .img-customize{
        width: 100%;
        height: 660px;
        object-fit: cover;
        object-position: center;
    }
    .img_slide{
        height: 660px;
        width: 100%;
        object-fit: cover;
        object-position: center;   
    }
}