.home {
  width: 100%;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bellota";
  /* background-color: #FDF6F0; */
    background-color: white;
  color: #8F3C02;
  

}
.home_wellcome{
  display: flex;
  background-image: url('../assets/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
 
}
.wellcome_img{
  flex: 50% 1;
  /* background-image: linear-gradient(-45deg, #FFCEAE 0%, #F2A06F 100%); */

  /* border-radius: 0px 0px 0px 600px;
  z-index: 6; */

}

.home_img{
  width: 75%;
  height: 75%;
  /* display: flex; */
  justify-content: center;
  padding-right: 10px;
  margin-top: 20%;
  margin-left: 30px;
  margin-bottom: 6%;
}

.home_sologan{
  width: 50%;
  margin-top: 7%;
  /* display: flex; */
  font: Bellota;
  margin-left: 7%;
}


.home h5{

  font-size: 82px;
  margin-left: 50px;
  margin-top: 17%;
  margin-bottom: 9%;
  font-family: Quando;
}
.home h6{

  font-size: 31px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  /* font-family: Quando; */
}
.home ul{

  font-size: 20px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  /* font-family: Quando; */
}
.home li{
  margin-top: 5px;

}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 1250px) {
  .home h5{

    font-size: 75px;
    margin-left: 30px;
    margin-top: 17%;
    margin-bottom: 9%;
    font-family: Quando;
  }
  .home h6{

    font-size: 28px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    /* font-family: Quando; */
  }
  .home ul{
  
    font-size: 18px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    /* font-family: Quando; */
  }
  .home li{
    margin-top: 5px;
  
  }
  
}

@media only screen and (max-width: 1150px) {
  .home h5{

    font-size: 65px;
    margin-left: 30px;
    margin-top: 17%;
    margin-bottom: 9%;
    font-family: Quando;
  }
}
@media only screen and (max-width: 1000px) {
  .home h5{

    font-size: 55px;
    margin-left: 30px;
    margin-top: 17%;
    margin-bottom: 9%;
    font-family: Quando;
  }
  .home h6{

    font-size: 24px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    /* font-family: Quando; */
  }
  .home ul{
  
    font-size: 17px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    /* font-family: Quando; */
  }
  .home li{
    margin-top: 5px;
  
  }
  
}

@media only screen and (max-width: 650px) {


  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;

  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
.HomeCategory{
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-left: 5%;
  margin-top: 2%;
}

.btn_ViewMore{
  width: 160px;
  height: 40px;
  border-radius: 15px;
  color: #8F3C02;
  font-weight: bold;
  /* size: 30px; */
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 3%;
  border: 3px solid #8F3C02;
  background-color: #FDF6F0;
  font-family: 'Bellota';
  font-size: 20px;
}
.btn_MuaNgay{
  width: 160px;
  height: 40px;
  border-radius: 15px;
  color: #8F3C02;
  font-weight: bold;
  margin-left: 31%;
  margin-top: 2%;
  margin-bottom: 15%;
  border: 3px solid #8F3C02;
  background-color: #FDF6F0;
  font-family: 'Bellota';
  font-size: 20px;
}

.Category{
  background-color: white;
  margin-bottom: 3%;
}

/* ========================================= */
.menuPriceItem{
  display:flex;
  margin-left: 20px;
  height: 40px;
  padding-bottom: 1px;
}

.menuPriceItem h3{
  margin-left: 140px;
}
.menuItem_img{
  width: 280px;
  height: 280px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}


.ListCategory {
  width: 90%;
  margin-left: 7%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

/* .my-div {
  width: 90%;
  height: 80px;
  display: flex;

} */

/* .line1 {
 
  margin-top: 3%;
  margin-left: 21%;
  width: 25%;
  height: 5px;
  background-color: #FCD8D4;
}
.line2 {

  margin-top: 3%;
  width: 25%;
  height: 5px;
  background-color: #FCD8D4;
} */
/* .BestSeller{
  width: 20%;
  text-align: center;
  font-family: Bellota;
} */
.BackgroundWhite{
  width: 100%;
  background-color: white;
}
.BackgroundBe{
  width: 100%;
  background-color: #FDF6F0;
}

/* =======================Vorcher===================== */
.home_voucher{
  width: 85%;
  height: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 10px;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
}
.home_voucher h5{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 35px;
}
.home_voucher h2{
  margin-top: -15px;
  margin-bottom: -15px;
  font-size: 135px;
  
}
.home_voucher_persen{
  display: flex;
  margin-left: 20%;
}

.home .home_voucher h7{
  padding-top: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Quando;
  margin-left: 7px;
  font-size: 55px;
}
.home_voucher h4{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 34%;
  padding-bottom: 15px;
  font-size: 40px;
  font-family: Quando;
}
@media only screen and (max-width: 1260px) {
  .home_voucher h5{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
  }
  .home_voucher h2{
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 120px;
    
  }
  .home_voucher_persen{
    display: flex;
    margin-left: 20%;
  }
  
  .home .home_voucher h7{
    padding-top: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Quando;
    margin-left: 7px;
    font-size: 40px;
  }
  .home_voucher h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 34%;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: Quando;
  }
}
@media only screen and (max-width: 950px) {
  .home_voucher h5{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
  }
  .home_voucher h2{
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 100px;
    
  }
  .home_voucher_persen{
    display: flex;
    margin-left: 20%;
  }
  
  .home .home_voucher h7{
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Quando;
    margin-left: 7px;
    font-size: 35px;
  }
  .home_voucher h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 34%;
    padding-bottom: 15px;
    font-size: 25px;
    font-family: Quando;
  }
}
@media only screen and (max-width: 820px) {
  .home_voucher h5{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 23px;
  }
  .home_voucher h2{
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 90px;
    
  }
  .home_voucher_persen{
    display: flex;
    margin-left: 20%;
  }
  
  .home .home_voucher h7{
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Quando;
    margin-left: 7px;
    font-size: 30px;
  }
  .home_voucher h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 34%;
    padding-bottom: 15px;
    font-size: 22px;
    font-family: Quando;
  }
}
@media only screen and (max-width: 700px) {
  .home_voucher h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;

    font-size: 18px;
  }
  .home_voucher h2{
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 70px;
    
  }
  .home_voucher_persen{
    display: flex;
    margin-left: 20%;
  }
  
  .home .home_voucher h7{
    padding-top: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Quando;
    margin-left: 7px;
    font-size: 22px;
  }
  .home_voucher h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 34%;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: Quando;
  }
}

@media only screen and (max-width: 580px) {
  .home_voucher h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;

    font-size: 17px;
  }
  .home_voucher h2{
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 55px;
    
  }
  .home_voucher_persen{
    display: flex;
    margin-left: 20%;
  }
  
  .home .home_voucher h7{
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Quando;
    margin-left: 7px;
    font-size: 20px;
  }
  .home_voucher h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 34%;
    padding-bottom: 15px;
    font-size: 17px;
    font-family: Quando;
  }
}


/* =============================Introduce========================= */
.Home_Introduce{
  display: flex;
  width: 90%;
  margin-left: 5%;
}
.Home_Infomation_Name{
  background-image: url('../assets/img_background_Name.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 17%;

}
.Home_Infomation_Name p{
  padding-top: 10px;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 35px;
  font-family: Quando;
  color: white;
}
.Home_Infomation{
  flex: 50%;
  margin-top: 5%;
  margin-right: 3%;
}
.Home_Introduce_Img{
  flex: 50%;
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.Home_Infomation_1 p{
  font-size: 23px;
  margin-left: 10%;
}
.Home_Infomation_1{
  margin-top: 12%;
}
.Introduce_Img{
  flex: 40%;
  height: 600px;
}
.Introduce_Img3{
  flex: 60%;
  height: 600px;
  margin-left: 20px;
  margin-right: 10%;
}
.Intro_img_1_div{
  height: 340px;
}
.Intro_img_2_div{
  height: 240px;
  margin-top: 20px;
}
.Intro_img_1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.Intro_img_2{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.Intro_img_3{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 1260px) {
  .Home_Infomation_Name{
    background-image: url('../assets/img_background_Name.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 17%;
  
  }
  .Home_Infomation_Name p{
    padding-top: 10px;
    font-size: 31px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 35px;
    font-family: Quando;
    color: white;
  }
  .Introduce_Img{
    flex: 40%;
    height: 500px;
  }
  .Introduce_Img3{
    flex: 60%;
    height: 500px;
    margin-left: 10px;
    margin-right: 10%;
  }
  .Intro_img_1_div{
    height: 295px;
  }
  .Intro_img_2_div{
    height: 195px;
    margin-top: 10px;
  }
  .Home_Infomation_1 p{
    font-size: 21px;
    margin-left: 10%;
  }
  .Home_Introduce_Img {
    flex: 50% 1;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3px;
  }
}

@media only screen and (max-width: 1000px) {
  .Home_Infomation_Name{
    background-image: url('../assets/img_background_Name.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 17%;
  
  }
  .Home_Infomation_Name p{
    padding-top: 10px;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 35px;
    font-family: Quando;
    color: white;
  }
  .Home_Infomation_1 p{
    font-size: 18px;
    margin-left: 10%;
  }
  .Introduce_Img{
    flex: 40%;
    height: 400px;
  }
  .Introduce_Img3{
    flex: 60%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10%;
  }
  .Intro_img_1_div{
    height: 245px;
  }
  .Intro_img_2_div{
    height: 145px;
    margin-top: 10px;
  }
  .Home_Infomation_1 p{
    font-size: 18px;
    margin-left: 10%;
  }
  .Home_Introduce_Img {
    flex: 50% 1;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2px;
  }
  
}

@media only screen and (max-width: 780px) {
  .Home_Infomation_Name{
    background-image: url('../assets/img_background_Name.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 17%;
  
  }
  .Home_Infomation_Name p{
    padding-top: 10px;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    font-family: Quando;
    color: white;
  }
  .Home_Infomation_1 p{
    font-size: 18px;
    margin-left: 10%;
  }
  .Introduce_Img{
    flex: 40%;
    height: 400px;
 
  }
  .Introduce_Img3{
    flex: 60%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10%;
  }
  .Intro_img_1_div{
    height: 245px;
  }
  .Intro_img_2_div{
    height: 145px;
    margin-top: 10px;
  }
  .Home_Infomation_1 p{
    font-size: 18px;
    margin-left: 10%;
  }
  .Home_Introduce_Img {
    flex: 50% 1;
    display: flex;
    margin-top: 30%;
    margin-bottom: 5%;
    margin-left: 2px;
  }
}
