.home {
  width: 100%;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bellota";
  background-color: #FDF6F0;
}

.home_img{
  width:86%;
  height:40vh;
  display: flex;
  justify-content: center;
  margin-left: 7%;
  margin-top: 14vh;
}

.home_sologan{
  width: 86%;
  margin-top: 2%;
  display: flex;
  font: Bellota;
  margin-left: 7%;
}

.home_sologan1 {
  margin-left: 10%;
}
.home_sologan2 {
  margin-left: 12%;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }


  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
.HomeCategory{
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-left: 5%;
  margin-top: 2%;
}
.btn_ViewMore{
  width: 120px;
  height: 35px;
  border-radius: 15px;
  color: #8F3C02;
  font-weight: bold;
  size: 30px;
  margin-left: 46%;
  margin-top: 2%;
  margin-bottom: 3%;
  border: 3px solid #8F3C02;
  background-color: #FDF6F0;
}

/* ========================================= */
.menuPriceItem{
  display:flex;
  margin-left: 20px;
  height: 40px;
  padding-bottom: 1px;
}

.menuPriceItem h3{
  margin-left: 140px;
}


.menuItem_img{
  width: 280px;
  height: 280px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.menuCategory {
  border-radius: 15px;
  width: 250px;
  height: 270px;
  margin: 20px;
  background-color: #FCD8D4;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.Category_img{
  width: 220px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
}

.ListCategory {
  width: 90%;
  margin-left: 7%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.my-div {
  width: 90%;
  height: 80px;
  display: flex;

}

.line1 {
 
  margin-top: 3%;
  margin-left: 21%;
  width: 25%;
  height: 5px;
  background-color: #FCD8D4;
}
.line2 {

  margin-top: 3%;
  width: 25%;
  height: 5px;
  background-color: #FCD8D4;
}
.BestSeller{
  width: 20%;
  text-align: center;
  font-family: Bellota;
}
.BackgroundWhite{
  width: 100%;
  background-color: white;
}


