.full {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 17%;
  }
  
  .full .leftSide {
    height: 100%;
    flex: 27%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .full .rightSide {
    height: 100%;
    flex: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5% 4% 0 2%;
    background-color: white;
    border-radius: 3%;
    color: #8F3C02;
    padding: 20px 50px;
  }
  
  .full .rightSide .row{
    width: 100%;
    height: 60px;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    color: #8F3C02;
    background-color: antiquewhite;
    justify-content: left;
    align-items: center;
  }
  