.screen{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    margin-bottom: 17%;
}

/* -----------------LEFT---------------------- */


.leftScreen{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.leftScreen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leftText{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.leftText h1{
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 700;
    margin-top: 1rem/* 16px */;
    margin-bottom: 1rem/* 16px */;
}
.leftText p{
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 400;
}

/* -----------------RIGHT---------------------- */

.rightSreen{
    padding-left: 10%;
    width: 50%;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
    padding: 5rem/* 80px */;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    --tw-text-opacity: 1;
    color: rgb(6 6 6 / var(--tw-text-opacity));
    font-weight: 600;
    margin-right: auto;
}
.loginField{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.loginHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem/* 8px */;
}
.loginHeader h3{
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-weight: 600;
    margin-bottom: 0.5rem/* 8px */;
}
.loginHeader p{
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    margin-bottom: 0.5rem/* 8px */;
}

.loginInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form input{
    width: 100%;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    background-color: transparent;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.loginExten{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginExten .forgot{
    margin-left: auto;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}
.loginExtenSub{
    width: 100%;
    display: flex;
    align-items: center;
}
.loginExtenSub p{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.buttonField{
    position:sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem/* 16px */;
    margin-bottom: 1rem/* 16px */;
}
button {
    width: 100%;
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    font-weight: 600;
    border-radius: 0.375rem/* 6px */;
    padding: 1rem/* 16px */;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.option2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}
.option2 p{
    font-size: 1rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    position: absolute;
    color: rgb(0 0 0 / 0.8);
    --tw-bg-opacity: 1;
    background-color: #FDF6F0;
}
.option2 .line{
    width: 100%;
    height: 1px;
    background-color: rgb(0 0 0 / 0.4);
}
.google{
    width: 100%;
    --tw-text-opacity: 1;
    color: rgb(6 6 6 / var(--tw-text-opacity));
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    font-weight: 600;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-color: rgb(0 0 0 / 0.4);
    border-radius: 0.375rem/* 6px */;
    padding: 1rem/* 16px */;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.google .icon{
    height: 1.5rem/* 24px */;
    margin-right: 0.5rem/* 8px */;
}

.loginFooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginFooter p{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(6 6 6 );
}
.loginFooter span{
    font-weight: 600;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}