.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 90%;
  margin-left: 7%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 310px;
  height: 420px;
  margin: 20px;
  background-color: #FCD8D4;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* .menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.menuItem h1,
.menuItem p {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}


/* ========================================= */
.menuPriceItem{
  display:flex;
  margin-left: 20px;
  height: 40px;
  padding-bottom: 1px;
}

.menuPriceItem h3{
  margin-left: 140px;
}


.menuItem_img{
  width: 280px;
  height: 280px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.menuCategory {
  border-radius: 15px;
  width: 250px;
  height: 270px;
  margin: 20px;
  background-color: #FCD8D4;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.Category_img{
  width: 220px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
}

.ListCategory {
  width: 90%;
  margin-left: 7%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.menuCategory h2 {
  text-align: center;
}

