.MyCart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bellota";
    background-color: #FDF6F0;
}
.MyCart_header{
    display: flex;
    width: 80%;
    margin-top: 14vh;
    background-color: #F8E2CF;
    margin-left: 10%;
    border-radius: 10px;
    font-size: 18px;
}
/* .MyCart_header h3{
    flex: 30%;
} */
.MyCart_header input{
    flex: 7%;
}
.MyCart_header_sp{
    flex: 30%;
}
.MyCart_header_pr{
    flex: 20%;
}
.MyCart_header_num{
    flex: 20%;
}
.MyCart_header_allpr{
    flex: 20%;
}

/* ====================Card Cart================== */
.MyCart_List{
    width: 80%;
    height: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* place-items: center; */
    margin-left: 10%;
    margin-top: 2%;
}
.CardCart{
    display: flex;
    height: 130px;
    width: 100%;
    background-color:#F8E2CF ;
    border-radius: 10px;
    margin-bottom: 12px;
}
.CardCart_input{
    flex: 7%;
    position: relative;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    display: none;
 }

 input[type="checkbox"]:checked :before {
    border-color: #CD8042;
    background-color: #CD8042;
 }

 input[type="checkbox"]:checked :after {
    display: block;
 }
.CardCart_imgdiv{
    flex: 10%;
}
.CardCart_img{
    width: 110px;
    height: 110px;
    margin-top: 10px;
    border-radius: 10px;
}
.Cartinfo{
    flex: 20%;
}
.CartPrice{
    flex: 20%;
    margin-top: 30px;
}
/* .CartNum{
    flex: 20%;
    display: flex;
} */
.CartAllPrice{
    flex: 20%;
    margin-top: 30px;
}

.CartNum{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    height: 30px;
    flex: 20%;
  }
  .CartNum h2{
    margin-left: 20px;
    margin-top: 30px;

  }
  .CartNum button{
    color: #CD8042;
    margin-left: 20px;
    background-color: white;
    width: 30%;
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #CD8042;
  }
