.navbar {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: #F2A06F;
  display: flex;
  flex-direction: row;
  z-index: 7;
}
.navbar_header{
  height: 65px;
  border-radius: 10px;
}


.navbar .leftSide {
  flex: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.leftSide_home{
  padding-left: 20%;
}

/* .navbar .leftSide img {
  width: 70px;
} */



.item_menu1 {
  color: #4B1D1D;
  text-decoration: none;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  padding-top: 20px;
  
}
.item_menu2 {
  color: #4B1D1D;
  text-decoration: none;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  padding-top: 16px;
}


/* .navbar #open {
  padding-left: 0px;
} */
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}


/* ================================== */
/* .logo{
  flex: 10%;
} */
.logo img{
  width: 60px;
  height: 60px;
}
.leftSide h1{
  /* margin-top: 50px; */
  flex: 80% 1;
  font-size: 30px;
  color: #4B1D1D;
  font: optional;
  margin-left: 2%;
}

/* ======================Right================== */
.navbar .rightSide {
  flex: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7,auto);
 
  align-items: center;
  justify-content: center;
  margin-right: -5%;
}
.navbar .rightSide_activity{
  flex: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7,auto);
  margin-right: -5%;
  align-items: center;
  justify-content: center;
}
.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #4B1D1D;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.navbar .rightSide_activity button {
  background-color: transparent;
  border: none;
  color: #4B1D1D;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.navbar .rightSide svg {
  font-size: 35px;
}
.navbar .rightSide_activity svg {
  font-size: 35px;
}

/* .Search-box{
  display: flex;
  background-color: #F2A06F;
  border-radius: 30px;
}
.Search-box .Search-text{
  border: none;
  outline: none;
  background: none;
  width: 0;
  font-size: 18px;
}
.Search-box .Search-btn{
  background-color: #FDF6F0;
  border: none;
  outline: none;
  background: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 50%;
} */
/* .navbar .item_menu1 :hover{
  color: #4B1D1D;
} */

/* =======================Responsive=============== */
/* .icon{
    flex: 30% 1;
    display: flex;
    width: 100%;
    height: 100%;
   
} */
.Search-box:hover .Search_btn{
  background-color: #FFCEAE;
  border-radius: 30px;
  color: white;

}
.Search-box:hover .Search-text{
  width: 300px;
  padding: 5px 10px;
  background-color: #FDF6F0;
  border-radius: 30px;
}
.Search-box:hover{
   background-color: #FDF6F0;
}

.Search-box:hover + .navbar_title {
  display: none;
}

.navbar_title2{
  display: none;
}
.icon{
  display: none;
}
.navbar_header .fa-solid{
  font-size: 28px;
  color: #4B1D1D;
  /* display: none; */
}



.fa-bars{
  color: #4B1D1D;
  margin-top: 80%;
  font-size: 35px;
  width: 100%;
  height: 100%;
}
.fa-times{
  color: #4B1D1D;
  margin-top: 80%;
  font-size: 35px;
  width: 100%;
  height: 100%;
}

.menu-icons{
  /* flex: 3%; */
  display: none;
}
@media screen and (max-width:1250px) {
  .navbar{
    z-index:99;
  }
  .leftSide h1 {
    flex: 80% 1;
    font-size: 35px;
    color: #4B1D1D;
    font: optional;
    margin-left: 2%;
  }
  .item_menu1 {

    color: #4B1D1D;
    text-decoration: none;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 19px;
   
  }
  .icon{
    /* margin-right: 13px;
    margin-left: 13px; */
    font-size: 20px;
  }
  .item_menu2 {
    color: #4B1D1D;
    text-decoration: none;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 19px;
   
  }
  .icon2{
    /* margin-right: 13px;
    margin-left: 13px; */
    font-size: 20px;
  }

  .navbar .rightSide svg {
    font-size: 35px;
  }
  .navbar .rightSide_activity svg {
    font-size: 35px;
  }

}
@media screen and (max-width:1250px) {
  /* chuyển tất cả về dạng icon */
  .navbar{
    z-index:99;
  }
  .icon{
    display: inline;
    font-size: 15px;
  }

  .navbar_title{
    display: none;
  }
  .navbar .rightSide{
    margin-left: 20%;
    margin-right: -5%;
  }
  .navbar .rightSide_activity{
    margin-left: 20%;
    margin-right: -5%;
  }
}
@media screen and (max-width:1110px) {
  .navbar{
    z-index:99;
  }
  .navbar .rightSide{
    margin-left: 15%;
  }
  .navbar .rightSide_activity{
    margin-left: 15%;
  }
  .item_menu1 {
    color: #4B1D1D;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 19px;
   
  }
  .item_menu2 {
    color: #4B1D1D;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 19px;
   
  }
  
}
@media screen and (max-width:1050px) {
  .navbar{
    z-index:99;
  }
  .navbar .rightSide{
    margin-left: 11%;
  }
  .navbar .rightSide_activity{
    margin-left: 11%;
  }
}
@media screen and (max-width:1050px) {
  .navbar{
    z-index:99;
  }
  .navbar .rightSide{
    margin-left: 5%;
    margin-right: -8%;
  }
  .navbar .rightSide_activity{
    margin-left: 5%;
    margin-right: -8%;
  }
}

@media screen and (max-width:850px) {
  .navbar{
    z-index:99;
  }
  .leftSide h1{
    margin-top: 50px;
    flex: 80% 1;
    font-size: 35px;
    font: optional;
    margin-left: 2%;
  }
  .navbar .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FFCEAE;
    color: #4B1D1D;
    /* background: rgba(226, 225, 225, 0.25); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37); */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 300px;
    height: auto;
    position: absolute;
    top: 0;
    left: -130%;
    right: 2%;
    align-items: stretch;
    padding: 40px 0 30px 0;
    margin-left: 30%;
    margin-top: 70px;
    z-index: -1;
    /* transition: all 0.3s ease-in-out; */
    transition: 0.3s ease-in-out;

  }
  .navbar .rightSide_activity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #4B1D1D;
    background: #FFCEAE;
    /* background: rgba(226, 225, 225, 0.25); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37); */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 300px;
    height: auto;
    position: absolute;
    top: 0;
    /* left: 0%; */
    right: 2%;
    align-items: stretch;
    padding: 40px 0 30px 0;
    margin-left: 30%;
    margin-top: 70px;
    z-index: -1;
    transition: 0.3s ease-in-out;
  
  }

  .icon{
    display: flex;
    width: 40px;
    padding-left: 30px;
  }
  .icon2{
    display: flex;
    width: 40px;
    padding-left: 30px;
    
  }
  .navbar_header :hover{
    background-color:#FFFBEF
  }
  .navbar_title{
    display: flex;
    margin-left: 5px;
  }
  .navbar_title2{
    display: flex;
    margin-left: 5px;
  }
  .item_menu1 {
    display: flex;
    widows: 100%;
    padding: 3%;
    margin-left: 0px;

    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .item_menu2 {
    display: flex;
    widows: 100%;
    /* padding: 2rem 0; */
    margin-bottom: 10px;
    padding: 3%;
    margin-left: 0px;
    text-decoration: none;
    /* margin-left: 50px; */
  
    font-size: 20px;
  }
  .menu-icons{
  
    display: block;
    margin-right: 2%;
  }
 
}
@media screen and (max-width:560px) {
  .navbar{
    z-index:99;
  }
  .leftSide h1 {
    flex: 80% 1;
    font-size: 28px;
    color: #4B1D1D;
    font: optional;
    margin-left: 2%;
  }
}
@media screen and (max-width:450px) {
  .navbar{
    z-index:99;
  }
  .leftSide h1 {

    
    flex: 80% 1;
    font-size: 28px;
    color: #4B1D1D;
    font: optional;
    margin-left: 2%;
  }
}

