.product-list-container{
    background-color: #fff;
    margin-left: 50px;
    padding-right: 3%;
}
.product-table {
    width: 100%;
    border-collapse: collapse;
    height: 400px;
  }
  
  .table-header {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table-cell {
    padding: 8px;
    border: 1px solid #ccc;
  }
  .table-cell_name{
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 50%;
  }
  .action-link {
    margin-right: 8px;
    text-decoration: none;
  }
  
  .action-icon {
    cursor: pointer;
    color: #999;
  }
  
  .action-icon:hover {
    color: #783b31;
  }
  .product-list-container {
    display: flex;
  }
  
  .side-menu {
    width: 200px; 
  }
  
  .product-table {
    flex: 1; 
    margin-left: 30px; 
  }

  .add-product-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #CD8042;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .add-product-button:hover {
    background-color: #783b31;
  }

  .add-product-container{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #fff;
    padding-right: 3%;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.modal h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal .btn-fix {
  margin-bottom: 10px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"] {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.modal button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal .update-button {
  background-color: #CD8042;
  color: #fff;
  margin-right: 10px;
}

.modal .close-button {
  background-color: #ccc;
  color: #000;
}
.modal .update-button:hover{
  background-color: #783b31;
}
.modal .close-button:hover{
  background-color: #999;
}
.combobox{
  width: 25%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

  