.contact {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 17%;
  }
  
  .contact .leftSide {
    height: 100%;
    flex: 27%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact .rightSide {
    height: 100%;
    flex: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5% 4% 0 2%;
    background-color: white;
    border-radius: 10px;
    color: #8F3C02;
    padding: 20px 50px;
  }
  
  .contact .rightSide h1 {
    
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
  }

  .contact .infomation{
    border-bottom:solid;
    border-color: #FCD8D4;
    border-width: 8px;
    
  }
  
  .contact-form {
    display: flex;
    padding-top: 0;
    background-color: white;
    border-radius: 2%;
    color: #8F3C02;
    
  }
  
  .contact-form .info-user{
    height: 100%;
    flex: 60%;
    padding-left: 8%;
  }

  .contact-form .avarta{
    height: 100%;
    flex: 40%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;

  }


  .user1{
    width: 70%;
    margin-left: 2%;
  }

  .contact .avarta button {
    margin-top: 40px;
    padding: 5% 10%;
    border: none;
    border-radius: 10px;
    background-color: #FCD8D4;
    color: #8F3C02;
    font-size: 15px;
    cursor: pointer;
    font-family: Bellota ;
    font-weight: bold;
    margin-left: 17%;
  }

  .contact .avarta button:hover{
    cursor: pointer;
    background-color: #D77B44;
  }

  .address{
    margin-top: 3%;
  }

  .address .address-info{
    background-color: #FCD8D4;
    padding: 7px;
    border-radius: 10px;
    margin: 20px 30px;
  }

  #name{
    font-weight:bold;
  }
  .SideMenu{
    height: auto;
    width: 250px;
    background-color: #F5C6AA;
    margin-left: 4%;
    margin-top: 1.5%;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
  }
  
  .SideMenuList{
    height: auto;
    padding: 0;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
  }


  .SideMenuList .title{
    display: flex;
    align-items: center;
  }

  .SideMenuList .title p{
    color: #8F3C02;
  }
  .accountCircleIcon{
    transform: scale(1.7);
    padding: 20px;
  }

  .SideMenuList .row{
    width: 100%;
    height: 60px;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #8F3C02;
    justify-content: left;
    align-items: center;
  }

  .SideMenu .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }

  .SideMenu .row #title{
    flex: 70%;
  }

  .SideMenuList .row:hover{
    cursor: pointer;
    background-color: #D77B44;
  }

  .SideMenuList #active{
    background-color: #D77B44;
  }

/* ==============LogOut===================== */
.profile_Logout{
  width: 100%;
}
.profile_Logout p{
  margin-left: 70%;
}
  
.contact .address h2{
  margin-left: 4%;
}