
.table .cellWrapper {
    display: flex;
    align-items: center;
  }
  
  .table .cellWrapper .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .table .status {
    padding: 5px;
    border-radius: 5px;
  }
  
  .table .status.Approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
  }
  
  .table .status.Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
  }
.tableCell-id{
  cursor: pointer;
}
.tableCell-id:hover{
  color: #8F3C02;
}
.productImage{
  width: 80%;
  border-radius: 50%;
}
.productDetails{
  /* padding-left: 7%; */
  flex: 55%;
}
.productInfo{
  display: flex;
}
.productInfo_div {
  flex: 25%;
  margin-left: 10%;
 
  justify-content: center;
}
productInfo_btn{
  display: flex; 
}

.productInfo_btn .btn_XacNhan{
  background-color: #CD8042;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: Bellota;
  font-weight: bold;
  font-size: 1.2rem;
  height: 37px;
  margin-top: 2%;
}
.productInfo_btn .btn_Huy{
  background-color: #CD8042;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: Bellota;
  font-weight: bold;
  font-size: 1.2rem;
  height: 37px;
  margin-left: 10%;
  margin-top: 2%;
}
.productInfo_img{
  flex: 10%;
  margin-left: 5%;
}
